<div class="container">
    <ul class="link_list">
        <li>
            <%= link_to("/users/#{session[:user_id]}/edit") do%>
            ユーザー情報の編集
            <i class="fas fa-user-edit"></i>
            <%end%>
        </li>
         <li>
             <%= link_to("/users/#{session[:user_id]}/history") do%>
             プレイ履歴
             <i class="fas fa-history"></i>
             <%end%>
         </li>
    </ul>
</div>